
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #333;
}

section h2 {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 10vw;
    color: #fff;
    font-weight: 700;
}

.banner {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

.banner .blocks {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    border-radius: 5px;
    animation: animate 2s ease-in-out forwards;
	clip-path: inset(0 90% 90% 0);
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(0) translateY(1000px);
    }

    50% {
        opacity: 1;
        background: url(https://picsum.photos/200/300?random=1);
        background-position: center;
        background-attachment: fixed;
        background-size: auto;
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0px);
        background: url(https://picsum.photos/200/300?random=1);
        background-position: center;
        background-size: auto;
        background-attachment: fixed;
    }
}

.banner .blocks:nth-child(even) {
    animation: animate 1s ease-in-out forwards;
}

.banner .blocks:nth-child(7n+3) {
    animation: animate 2.5s ease-in-out forwards;
}

.banner .blocks:nth-child(7n+7) {
    animation: animate 1.5s ease-in-out forwards;
}